<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="main">
			<div class="inner">
				<header class="header">
					<a href="/index" class="logo"> <strong>Exito</strong> pudiste
						ingresar tu producto para venderlo
					</a>
				</header>

				<a href="/producto"><input class="btn" type="submit"
					value="Regresar" /></input></a>
			</div>
		</div>
	</div>

</body>
</html>